* {
    BG:    #1E1E2Eff;
    BGA:   #CBA6F7ff;
    FG:    #D9E0EEff;
    FGA:   #F28FADff;
    BDR:   #CBA6F7ff;
    SEL:   #1E1E2Eff;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
    BG-A:  #313244ff;
}
